<h1>Judges Stuff</h1>

<%= link_to "Current Results", results_path, class: "btn btn-primary" %>
<h3>Teams:</h3>

<% Team.all.each do |team| %>
  <ul class="collection">
      <li class="collection-item"><%= link_to team.name, team %></li>
  </ul>
<% end %>
