
<ul class="collection with-header">
  <li class="collection-header"><h3>Registered Users</h3></li>
  <% @cities.each do |school| %>
    <li class="collection-header"><h4><%= school.city %></h4></li>
    <% school.users.each do |user| %>
      <li class="collection-item"><%= link_to user.name, user, class: "btn btn-primary" %> <%= mail_to user.email, NIL, class: "btn btn-primary"  %></li>
    <% end %>
  <% end %>
</ul>
<br>

<%= link_to 'New User', new_user_path %>
