<h1 class="header center teal-text text-lighten-2">The Iron Nation Hackathon</h1>
<div class="row center">
  <h3 class="header">Jan 6 - 8, 2017</h3>
  <h5 class="header col s12 light hide-on-small-only">For Iron Yarders, By Iron Yarders</h5>
</div>
<div class="row center">
  <% unless user_signed_in? %>
    <%= link_to "Sign Up/Sign In #{icon('github')}".html_safe, user_github_omniauth_authorize_path, class: "btn-large waves-effect waves-light teal lighten-1" %>
  <% end %>
</div>
