<h1 class="header center teal-text text-lighten-2">The Iron Nation Hackathon</h1>
<div class="row center">
  <h3 class="header">Jan 6 - 8, 2017</h3>
  <h5 class="header col s12 light hide-on-small-only">For Iron Yarders, By Iron Yarders</h5>
</div>
<div class="row center">
  <a href="#signup" class="modal-trigger btn-large waves-effect waves-light teal lighten-1">Sign Up!</a>
</div>
