
<ul class="collection with-header tiygray-text">
  <li class="collection-header center">
    <h4>FAQs</h4>
  </li>
  <li class="collection-item">
    <b>What are the times and dates?</b> <br>
  <br><em>Hacking will commence at 6pm CDT Friday, January 6, 2017, and continue until 3pm CDT Sunday, January 8. </em></li>
  <li class="collection-item">
    <b>Where is this hackathon?</b> <br>
  <br><em>Wherever you want it to be. It is a virtual hackathon, so as long as you have wifi and power, you are good to go. Iron Yard campuses across this great nation will host hackers, so if you are looking for some whiteboards, coffee, and friendly faces, find your hub. </em></li>
  <li class="collection-item">
    <b>Who can participate?</b> <br>
  <br><em>This hackathon is open to all Iron Yarders, past, present, and future.</em></li>
  <li class="collection-item">
    <b>What is the theme of this hackathon?</b> <br>
  <br><em>The theme of this hackathon is: NEW SOLUTIONS FOR A NEW YEAR. Identify a problem facing your community (local, regional, national, global, or universal), and come up with a way to address it. The Github organization has links to public datasets and project ideas. Feel free to jump on a project that interests you, or add your own. </em></li>

</ul>
