<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">About Us</h5>
      <p class="grey-text text-lighten-4">We are a team of Iron Yard people working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
    </div>

  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  Made with <span id="taco">🌮 </span> in <%= link_to "Houston", "http://theironyard.com/houston", class: "brown-text text-lighten-3" %>
  <div class="right"><h5>Join The Slacks 👉  <script async defer src="https://aqueous-wave-44276.herokuapp.com/slackin.js?large"></script></h5></div>
  </div>
</div>
