<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">About Us</h5>
      <p class="grey-text text-lighten-4">We are a group of TIYers who are passionate about making a difference. Let's do this together!</p>
    </div>

  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  Made with <span id="taco">🌮</span>s in <%= link_to "Houston", "http://theironyard.com/houston", class: "tiygray-text text-lighten-3" %>
  <div class="right"><h5>Join The Slacks 👉  <script async defer src="https://aqueous-wave-44276.herokuapp.com/slackin.js?large"></script></h5></div>
  </div>
</div>
